<%- include("header") -%>

<h1 style="color: black; font-size: 4rem;">About</h1>

<p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quos accusamus facilis molestias sunt maxime distinctio tempore modi et maiores, expedita ipsam commodi ratione veritatis. Iusto quidem ad veniam! Vitae? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eos obcaecati provident beatae placeat. Placeat aperiam veritatis exercitationem eligendi sint laudantium ratione! Sunt quos accusantium nostrum cupiditate voluptas expedita mollitia? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolor perspiciatis laborum inventore architecto, ea sequi saepe explicabo mollitia nesciunt aliquam soluta libero, expedita dolorem ipsum magnam suscipit nisi reprehenderit? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem earum sequi amet magnam consequuntur veniam laudantium doloremque praesentium? Sapiente magnam in qui sed dignissimos impedit cum dolore consectetur distinctio perferendis? </p>

<%- include("footer") -%>
